eaglercraft-repo/Versions/Eaglercraft5.html export-ignore
eaglercraft-repo/Versions/Eaglercraft8.html export-ignore
eaglercraft-repo/Versions/eagler.ico export-ignore
eaglercraft-repo/Versions/mc.ico export-ignore
eaglercraft-repo/Versions/EaglerCraft-Hacked-Client export-ignore
eaglercraft-repo/.gitattributes
