/Versions/Eaglercraft5.html export-ignore
/Versions/Eaglercraft8.html export-ignore
/Versions/eagler.ico export-ignore
/Versions/mc.ico export-ignore
/Versions/EaglerCraft-Hacked-Client export-ignore
